<a href="https://colab.research.google.com/github/rezkyadi/Data-Analyst-Training/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import Library yang akan digunakan
import numpy as np
import pandas as pd
import seaborn as sns


%matplotlib inline
import matplotlib.pyplot as plt
import sklearn
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.metrics import classification_report

In [3]:
#Upload Dataset from G Drive
#add dataset from google drive
from google.colab import drive
drive.mount('/content/drive')

#baca file dataset
data_tj = pd.read_csv('/content/drive/MyDrive/Training/datasets/data-penumpang-bus-transjakarta-desember-2021.csv')

data_tj.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,tahun,bulan,jenis,kode_trayek,trayek,jumlah_penumpang
0,2021,12,Mikrotrans,JAK.88,Terminal Tanjung Priok - Ancol Barat,43967
1,2021,12,Mikrotrans,JAK.85,Bintara - Cipinang Indah,40103
2,2021,12,Mikrotrans,JAK.84,Terminal Kampung Melayu - Kapin Raya,59193
3,2021,12,Mikrotrans,JAK.80,Rawa Buaya - Rawa Kompeni,70475
4,2021,12,Mikrotrans,JAK.77,Tanjung Priok - Jembatan Item,77697

In [4]:
#melihat ukuran tabel dataset (jumlah baris dan kolom)
data_tj.shape

(122, 6)

In [6]:
#pengecekan terhadap data null pada dataset
data_tj.isnull().sum()

tahun               0
bulan               0
jenis               0
kode_trayek         0
trayek              2
jumlah_penumpang    0
dtype: int64

In [7]:
#pengecekan terhadap data N/A pada dataset
data_tj.isna().sum()

tahun               0
bulan               0
jenis               0
kode_trayek         0
trayek              2
jumlah_penumpang    0
dtype: int64

In [8]:
#pengecekan data duplikat pada dataset

data_tj.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
117    False
118    False
119    False
120    False
121    False
Length: 122, dtype: bool

In [9]:
#pengecekan statistik dataset
data_tj.describe()

        tahun  bulan  jumlah_penumpang
count   122.0  122.0      1.220000e+02
mean   2021.0   12.0      9.297152e+04
std       0.0    0.0      1.580677e+05
min    2021.0   12.0      0.000000e+00
25%    2021.0   12.0      0.000000e+00
50%    2021.0   12.0      6.125050e+04
75%    2021.0   12.0      8.675675e+04
max    2021.0   12.0      1.131439e+06